body {
  margin-top: 70px;
  padding: 5px;
}

/************************************************
* HEADER AND TOP MENU
*************************************************/


/************************************************
* CHARTS
*************************************************/
.chart {
 min-height: 400px;
}
