html,body {
  height: 100%;
}
body {
  margin-top: 70px;
  padding: 5px;
  background: url(../images/tweed.png) repeat;
}

#main-content {
  height: 100%;
}

/************************************************
* HEADER AND TOP MENU
*************************************************/


/************************************************
* CHARTS
*************************************************/

.panel-body {
  background: url(../images/logo-mbk.gif) top center no-repeat, linear-gradient( to bottom, white, white, #dedede);
}

.chart {
  margin-top: 50px;
  min-height: 600px;
}

.chart .x .tick text {
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  writing-mode: lr-tb;
  text-anchor: start !important;
}

.ac-chart{
  height: 100%;
}

.ac-chart svg{
  height: 100%;
}

.ac-chart .g text {
  font-size: 10px;
}

